src/MMS.PAYMENTSVR/Soltran/Web References/com.solutranservices.s3globaltest/S3Auth1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JsonFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="TransInfo" nillable="true" type="tns:TransInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JsonFault" nillable="true" type="tns:JsonFault" />
  <xs:complexType name="TransInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransInfo" nillable="true" type="tns:TransInfo" />
</xs:schema>