src/MMS.PAYMENTSVR/Soltran/Service References/ServiceReference1/S3Auth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="S3Auth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://s3globaltest.solutranservices.com/MessagingServiceV4/S3Auth.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://s3globaltest.solutranservices.com/MessagingServiceV4/S3Auth.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" />
      <xsd:import schemaLocation="https://s3globaltest.solutranservices.com/MessagingServiceV4/S3Auth.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://s3globaltest.solutranservices.com/MessagingServiceV4/S3Auth.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Models" />
      <xsd:import schemaLocation="https://s3globaltest.solutranservices.com/MessagingServiceV4/S3Auth.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Solutran.S3.Common.Entities.Messaging" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IS3Auth_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_Process_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_Process_JsonFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" name="detail" element="q1:JsonFault" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForGet_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorForGet" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForGet_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorForGetResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForGet_JsonFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" name="detail" element="q2:JsonFault" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForPost_InputMessage">
    <wsdl:part name="parameters" element="tns:ErrorForPost" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForPost_OutputMessage">
    <wsdl:part name="parameters" element="tns:ErrorForPostResponse" />
  </wsdl:message>
  <wsdl:message name="IS3Auth_ErrorForPost_JsonFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Solutran.S3.Service.Helpers" name="detail" element="q3:JsonFault" />
  </wsdl:message>
  <wsdl:portType name="IS3Auth">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Auth/Process" message="tns:IS3Auth_Process_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Auth/ProcessResponse" message="tns:IS3Auth_Process_OutputMessage" />
      <wsdl:fault wsaw:Action="Error" name="JsonFaultFault" message="tns:IS3Auth_Process_JsonFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorForGet">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Auth/ErrorForGet" message="tns:IS3Auth_ErrorForGet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Auth/ErrorForGetResponse" message="tns:IS3Auth_ErrorForGet_OutputMessage" />
      <wsdl:fault wsaw:Action="Error" name="JsonFaultFault" message="tns:IS3Auth_ErrorForGet_JsonFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ErrorForPost">
      <wsdl:input wsaw:Action="http://tempuri.org/IS3Auth/ErrorForPost" message="tns:IS3Auth_ErrorForPost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IS3Auth/ErrorForPostResponse" message="tns:IS3Auth_ErrorForPost_OutputMessage" />
      <wsdl:fault wsaw:Action="Error" name="JsonFaultFault" message="tns:IS3Auth_ErrorForPost_JsonFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="S3Auth" />
</wsdl:definitions>